@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body{
    background-color: #f1f1f1;
    color: rgb(17, 12, 12);
    font-size: 15px;
    font-weight:normal;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 45%;
    margin: auto;
    padding-top: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

a:visited {
    color: #9c9c9c;
}

a:active {
    color: brown;
}


.avatar{
    width: 150px;
    border-radius: 25px;
    box-shadow: 6px 7px 14px 1px rgba(0, 0, 0, 0.25);
}

.info p {
    color: #9c9c9c;
    margin: 0;
    font-style:italic;
    text-decoration:none;
    /*text-transform: capitalize;
    word-spacing: 15px;
    letter-spacing: 5px;*/
} 




.cart {   
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-yellow {
    background:#f0ebbc;
}

.bg-blue {
    background: rgb(197, 197, 252);
}

.bg-pink {
    background: rgb(247, 214, 221);
}

/* display: flex разположение элементов друг за другом в строку */

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 850px) {
   .info {
       display: block;  
       text-align: center;     
   }
   .table td{
        background: rgb(247, 214, 221);
   }
}


.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.cart h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0px 20px;   
}  

.list li {
    margin-bottom: 10px;
    color: #858585;
}

.table td {
    width: 30%;
    padding-bottom: 10px;
}

/* .table td:nth-child(2), td:nth-child(3)  {
    color: #858585;
} */

.table tr:nth-child(even) {
    background-color: rgb(252, 189, 238);
    
}
    
.link-list {
    list-style: none;
    padding: 0;    
}

.link-list li {
    border-bottom: 1px solid #858585;
    padding-bottom: 5px;   
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #9c9c9c;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #9c9c9c;
    color: rgb(0, 128, 58);
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    font-size: 14px;
} 

.row {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.row > .form-group {
    width: 50%;   
}

.row > .form-group:first-child {
    margin-right: 20px;
}

.btn {
    background: #fff6a3;
    padding: 15px 20px;
    border: none;
    font-weight: 600;
    font-family: inherit;
    color: #000;
    cursor: pointer;
} 

.btn:hover {
    opacity: 0.8;
}


/* position static по умолчанию, absolute- абсолютное позиционирование,
relative- позиционирование относительно этого блока, fixed - постоянное отображение на странице */

.position {
    position: relative;
    /* border: #000 solid 4px;
    padding: 20px;
    margin-top: 30px;
    height: 300px; */
}

.box {
    position: fixed;
    bottom: 50px;
    right: 130px;
    border-radius: 10px;
    width: 70px;
    height: 50px;
    background:rgb(114, 255, 114);
}

.box p {
    text-align: center;
    font-family: inherit;
    font-weight: 600;
    

}

.box a:visited {
    color: #000000;
}
.box a:hover {
    text-decoration:none;
}
.box a:active {
    color: rgb(42, 165, 52);
}








/* .social {
    background: blueviolet;
    padding: 15px 40px; */
    /*padding: 15px 20px 25px 30px; сверху по часовой, margin так же*/    
    /* margin: 5px;
    border: 5px solid greenyellow;
    border-bottom-style: dotted;
    border-top-width: 10px;
    border-right-color: blue;
    box-shadow: 6px 7px 14px 10px rgba(0, 0, 0, 0.25);

} */

/* .box-model > div {
    float:left;
    background: #000;
    height: 200px;
    width: 25%;
    border: 5px solid red;
    box-sizing:border-box;} */